%section#experience.section
  %h2.subtitle.name-section-about-me= t('experience.title')
  %section#cd-experience.timeline.cd-container

    .cd-timeline-block
      .cd-timeline-img.cd-current
        = image_tag "cd-icon-location.svg", alt: "Picture"

      .cd-timeline-content
        %h2 Ruby Developer Semi Senior
        %p= t('experience.timeline.currenty_description')
        %span.cd-date= t('experience.timeline.currenty-date')

    .cd-timeline-block
      .cd-timeline-img.cd-sperant
        = image_tag "cd-icon-location.svg", alt: "Movie"
      .cd-timeline-content
        %h2
          %span.title-ocupation Ruby Developer Semi Senior
          %a{href: 'https://www.sperant.com', class: 'company-name'} Sperant
        %p= t('experience.timeline.sperant_description')
        %span.cd-date= t('experience.timeline.sperant_date')

    .cd-timeline-block
      .cd-timeline-img.cd-senddinero
        = image_tag "cd-icon-location.svg", alt: "Picture"
      .cd-timeline-content
        %h2
          %span.title-ocupation Ruby Developer Junior
          %a{href: 'https://www.facebook.com/SendDinero', class: 'company-name'} Senddinero
        %p= t('experience.timeline.senddinero_description')
        %span.cd-date= t('experience.timeline.senddinero_date')

    .cd-timeline-block
      .cd-timeline-img.cd-creatiwebs
        = image_tag "cd-icon-location.svg", alt: "Location"
      .cd-timeline-content
        %h2
          %span.title-ocupation PHP Developer
          %a{href: 'https://www.facebook.com/creatiwebs', class: 'company-name'} Creatiwebs
        %p
          = t('experience.timeline.creatiwebs_description')
          %a{href: 'http://rhomobile.com/'} rhomobile
        %span.cd-date= t('experience.timeline.creatiwebs_date')


    .cd-timeline-block
      .cd-timeline-img.cd-2csgroup
        = image_tag "cd-icon-location.svg", alt: "Location"
      .cd-timeline-content
        %h2
          %span.title-ocupation PHP Developer
          %a{href: 'http://www.2csgroup.com/', class: 'company-name'} 2CsGroup
        %p= t('experience.timeline.2csgroup_description')
        %span.cd-date= t('experience.timeline.2csgroup_date')

    .cd-timeline-block
      .cd-timeline-img.cd-graduate
        = image_tag "cd-icon-location.svg", alt: "Movie"
      .cd-timeline-content
        %h2 Graduado
        %p= t('timeline.timeline.graduate_description')
        %span.cd-date= t('timeline.timeline.graduate_date')