%section#experience.section
  %h2.subtitle.name-section-about-me= t('experience.title')
  %section#cd-timeline.cd-container

    .cd-timeline-block
      .cd-timeline-img.cd-current
        = image_tag "cd-icon-location.svg", alt: "Picture"

      .cd-timeline-content
        %h2 Ruby Developer Semi Senior
        %p Actualmente sigo como uno de los responsables del CRM Sperant, sin embargo sigo en busca de nuevos retos y propuestas donde mejorar mis Skills.
        %span.cd-date Actualidad

    .cd-timeline-block
      .cd-timeline-img.cd-sperant
        = image_tag "cd-icon-location.svg", alt: "Movie"
      .cd-timeline-content
        %h2
          %span.title-ocupation Ruby Developer Semi Senior
          %a{href: 'https://www.sperant.com', class: 'company-name'} Sperant
        %p= "Fui parte del team desde el inicio del proyecto, donde realizamos el CRM para las empresas Inmobilirias Peruanas, el proyecto esta basado en Ruby on Rails y Multitenancy con Postgres para brindar un SAAS."
        %span.cd-date Agosto 2012


    .cd-timeline-block
      .cd-timeline-img.cd-senddinero
        = image_tag "cd-icon-location.svg", alt: "Picture"
      .cd-timeline-content
        %h2
          %span.title-ocupation Ruby Developer Junior
          %a{href: 'https://www.facebook.com/SendDinero', class: 'company-name'} Senddinero
        %p
          Participación en el proyecto basado en Dinero Electrónico y Remesas online desarrollado en Ruby on Rails, donde aprendí temas como seguridad, finanzas, usabilidad y escalabilidad.
        %span.cd-date Febrero 2012

    .cd-timeline-block
      .cd-timeline-img.cd-creatiwebs
        = image_tag "cd-icon-location.svg", alt: "Location"
      .cd-timeline-content
        %h2
          %span.title-ocupation PHP Developer
          %a{href: 'https://www.facebook.com/creatiwebs', class: 'company-name'} Creatiwebs
        %p
          Empresa que se dedicaba al Marketing y al Desarrollo web, donde participé en proyectos usando Facebook, PHP, Joomla e hicimos una app mobile usando
          el Framework.
          %a{href: 'http://rhomobile.com/'} rhomobile
        %span.cd-date Junio 2011


    .cd-timeline-block
      .cd-timeline-img.cd-2csgroup
        = image_tag "cd-icon-location.svg", alt: "Location"
      .cd-timeline-content
        %h2
          %span.title-ocupation PHP Developer
          %a{href: 'http://www.2csgroup.com/', class: 'company-name'} 2CsGroup
        %p= "Implementamos pequeñas applicaciones con php puro y algunos usando Frameworks como <a href='http://www.kumbiaphp.com/blog/'>KumbiaPhp</a>, <a href='http://framework.zend.com/'>ZendFramework</a>, también se realizó algunas paginas web usando el CMS Joomla.".html_safe

        %span.cd-date Enero 2011

    .cd-timeline-block
      .cd-timeline-img.cd-graduate
        = image_tag "cd-icon-location.svg", alt: "Movie"
      .cd-timeline-content
        %h2 Graduado
        %p Bachiler En Ingenieria de Sistemas de la Universidad Nacional Daniel Alcides Carrión - Perú
        %span.cd-date Diciembre 2010